# Terraform state files
*.tfstate
*.tfstate.backup

# Terraform lock files
.terraform.lock.hcl

# Local Terraform working directory
.terraform/

# Sensitive variable files
terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json

# Terraform plan files
*.tfplan

# Lambda packaging
lambda.zip

# Editor or IDE specific files
.idea/
.vscode/
*.swp
*.bak
*.tmp
*.DS_Store
